<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Stack MEAN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active">Home</a></li>
          <li class="nav-item"><a (click)="userService.alertMessage()" class="nav-link" aria-current="page" routerLink="/products" routerLinkActive="active">Products</a></li>
          <li class="nav-item"><a (click)="userService.alertMessage()" class="nav-link" aria-current="page" routerLink="/employees" routerLinkActive="active">Employees</a></li>
      </ul>

      <ul class="navbar-nav">
        <ng-container *ngIf="!userService.loggedIn();else logedIn">
          <li class="nav-item"><a class="nav-link" aria-current="page" routerLink="/signup" routerLinkActive="active">SignUp</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" routerLink="signin" routerLinkActive="active">SignIn</a></li>
        </ng-container>
        <ng-template #logedIn>
          <li class="nav-item"><a (click)="userService.logoUt()" style="cursor: pointer;" class="nav-link" aria-current="page"  routerLinkActive="active" >Logouth</a></li>
        </ng-template>
      </ul>
      
    </div>
  </div>
</nav>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
